.github/
.git/
.vscode/
_test/
documentation/
src/
node_modules_linked/

assets/images/

*/**/esm/

*/**/README*
*/**/readme*
*/**/CHANGELOG*

**/*.yml
**/*.yaml
**/*.ts
**/*.cts
**/*.mts
**/*.mjs
**/*.map
**/*.txt
**/*.textmate
**/*.tmLanguage
**/*.zip
**/*.snap
**/*.coffee
**/*.html
**/*.md
**/*.list
**/.*rc
**/Makefile

.vsixmanifest
.editorconfig
.gitignore
tsconfig.json
