.github/**
.git/**
.vscode/**
_test/**
documentation/**
src/**

*/node_modules/**

.vsixmanifest
.editorconfig
.gitignore
.js.map

tsconfig.json
scope-colours.tmLanguage.json
scope-names.tmLanguage.json
unicode-category.regex.json