.github/
.git/
.vscode-test-web/
.test-extensions/
.test-resources/
_test/
documentation/
src/
node_modules_linked/
assets/images/

**/.vscode/
**/esm/
**/test/
**/bin/

*/**/README*
*/**/readme*
*/**/CHANGELOG*

**/*.yml
**/*.yaml
**/*.ts
**/*.cts
**/*.mts
**/*.mjs
**/*.map
**/*.txt
**/*.textmate
**/*.tmLanguage
**/*.zip
**/*.snap
**/*.coffee
**/*.html
**/*.md
**/*.list
**/.*rc

**/Makefile
**/test.js
**/cson.pegjs
**/.editorconfig
**/.vsixmanifest
**/.gitignore
**/tsconfig.json
